@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    font-size: 3rem;
    text-align: center;
    img {
        width: 75%;
    }
    p {
        margin: 24px 0 12px 0;
        color: #e64510;
        &.smaller {
            font-size: 1rem;
        }
    }
}

.asset-test {
  background-image: url('~assets/header-bg.png');
  width: 100px;
  height: 100px;
}
